<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <title>淘书阁</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="<%=__G__.CONTEXT%>/static/src/css/ptm.css" type="text/css" rel="stylesheet" />
    <link href="<%=__G__.CONTEXT%>/static/src/css/skin.css" type="text/css" rel="stylesheet" />
    <link href="<%=__G__.CONTEXT%>/static/src/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <script src="<%=__G__.CONTEXT%>/static/src/js/static.js"></script>
    <script src="<%=__G__.CONTEXT%>/static/common/layer/mobile/layer.js"></script>
</head>

<body>
    <header class="ptm-bar ptm-bar-nav">
        <a class="ptm-pull-left" href="/">
            <span class="ptm-iconfont fa fa-home"></span>
        </a>
        <div class="ptm-title">淘书阁</div>
        <a class="ptm-pull-right" href="javascript:;">
            <span class="ptm-iconfont fa fa-search"></span>
        </a>
        <div class="back_r"><a id="translatelink" style="color:red;" href="javascript:translatePage();" title="点击[繁/简]切换">繁体版</a></div>
    </header>