<div class="container-fluid hidden-xs topbar">
    <div class="container topbar-con">
        <div class="row">
            <div class="col-sm-4">
                <div class="topbar-sethome">
                    <a href="javascript:void(0);">将本站设为首页</a>
                </div>
                <div class="topbar-addfavorite">
                    <a href="javascript:void(0)">收藏
                        <%= branchInfo.shorttitle || "笔趣阁"%></a>
                </div>
            </div>
            <div class="col-sm-8 text-right">
                <%  if(user && user.userId){ %>
                <span>当前登陆：
                    <%= user.username%></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout">退出</a>
                <% } else{ %>
                <form name="mylogin" class="topbar-login" method="post">
                    <span>账号：</span> <input type="text" class="input-text" name="small-username" id="small-username">
                    <span>密码：</span> <input type="password" class="input-text" name="small-password" id="small-password">
                    <input type="button" onclick="smallLogin()" class="btn-submit" value=" "> <a href="/register">用户注册</a>
                </form>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div class="container header hidden-xs">
    <div class="row">
        <div class="col-sm-4 logo">
            <a href="/">
                <%= branchInfo.shorttitle || "笔趣阁"%></a>
        </div>
        <div class="col-sm-8 text-right hidden-xs">
            <form method="get" action="/search" class="search-form" id="form">
                <input class="input-text input-key" name="keyword" placeholder="输入书名•作者">
                <input type="submit" class="btn-tosearch" value="搜索" title="搜索">
            </form>
        </div>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-default" style="margin-bottom: 0;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm hidden-md hidden-lg" href="/">
                <%= branchInfo.shorttitle || "笔趣阁"%></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="<%= currentRender=='home'?'active':'' %>"><a href="/">首页</a></li>
                <li><a href="/bookshelf">永久书架</a></li>
                <% branchInfo.categoryMap.forEach(function(category){ if(!category[3]) return true; %>
                <li class="<%= currentRender=='category' && currentCategoryId && currentCategoryId == category[1]?'active':'' %>"><a href="/category/<%= category[1] %>/1">
                        <%= category[0] %></a></li>
                <% }); %>
                <!-- <li><a href="/class/1/1.html">玄幻奇幻</a></li> -->
                <li class="<%= currentRender=='paihang'?'active':'' %>"><a href="/paihang">排行榜单</a></li>
                <li class="<%= currentRender=='quanben'?'active':'' %>"><a href="/quanben/">完结小说</a></li>
                <li class="<%= currentRender=='quanbu'?'active':'' %>"><a href="/quanbu/">全部小说</a></li>
                <li class="<%= currentRender=='history'?'active':'' %>"><a href="/history">阅读记录</a></li>
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li> -->
            </ul>
            <form class="navbar-form navbar-left hidden-sm hidden-md hidden-lg" method="get" action="/search">
                <div class="form-group">
                    <input type="text" class="form-control" name="keyword" placeholder="输入书名•作者">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </div>
    </nav>
</div>