<%- include('common/top', {}); %>
<link rel="stylesheet" type="text/css" href="/static/src/css/index.css" />
<%- include('common/mainHeader', {}); %>
<nav class="smallNav">
    <a href="/home" style="width:19%;font-weight:bold;">龙虎榜</a>
    <a href="/category" style="width:16%">分类</a>
    <a href="/quanben" style="width:16%">全本</a>
    <a href="/history" style="width:16%">轨迹</a>
    <!-- <a href="/user/" style="width:14%">书架</a> -->
</nav>
<%- include('common/searchForm', {}); %>
<div class="tabArea tabArea4 hot">
    <div class="tab-nav clearfix">
        <h2><a class="tab-nav-cur">强推</a></h2>
        <h2><a style="display: none;">&nbsp;</a></h2>
        <h2><a style="display: none;">&nbsp;</a></h2>
        <h2><a style="display: none;">&nbsp;</a></h2>
    </div>
    <div class="slide">
        <div class="slide-con4 div">
            <div class="slide-item index_hot1">
                <div class="hot_sale">
                    <a href="/book/257019/">
                        <img class="lazy" style="width: 89px; height: 119px;" data-original="/data/bookimg/257019.jpg" src="/static/src/images/defaultimg.png" />
                        <p class="title">三寸人间</p>
                        <p class="author">作者：耳根</p>
                        <p class="review">简介：星空古剑，万族进化，缥缈道院，谁与争锋天下万物，神兵不朽，宇宙苍穹，太虚称尊青木年华，悠悠牧之，其意欢快，恰似朝阳少年宝乐，心怀梦想...</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tabArea tabArea4 bannerLink div">
    <div class="tab-nav tab-nav4 clearfix">
        <h2><a class="tab-nav-cur">玄幻奇幻</a></h2>
        <h2><a style="display: none;">&nbsp;</a></h2>
        <h2><a style="display: none;">&nbsp;</a></h2>
        <h2><a style="display: none;">&nbsp;</a></h2>
    </div>
    <div class="slide">
        <div class="slide-con4">
            <div class="slide-item index_sort1"> <a href="/book/185830/">
                    <p><span class="sort">[玄幻奇幻]</span><span class="title">军婚撩人：少将娇妻太惹火 /<small>悄悄酱</small></span></p>
                </a> <a href="/book/227923/">
                    <p><span class="sort">[玄幻奇幻]</span><span class="title">医后倾天 /<small>萧七爷</small></span></p>
                </a> <a href="/book/188410/">
                    <p><span class="sort">[玄幻奇幻]</span><span class="title">重生七零年代小军嫂 /<small>露漫漫</small></span></p>
                </a> <a href="/book/178760/">
                    <p><span class="sort">[玄幻奇幻]</span><span class="title">你好，墨先生 /<small>百香蜜</small></span></p>
                </a> <a href="/book/188884/">
                    <p><span class="sort">[玄幻奇幻]</span><span class="title">骗婚总裁：独宠小娇妻 /<small>鱼泡泡</small></span></p>
                </a> <a href="/book/185916/">
                    <p><span class="sort">[玄幻奇幻]</span><span class="title">都市逍遥医圣 /<small>疯狂小牛</small></span></p>
                </a> </div>
        </div>
    </div>
</div>
<div class="tabArea tabArea4 bannerLink div">
    <div class="tab-nav tab-nav4 clearfix">
        <h2 id="H2_1"><a class="tab-nav-cur">武侠仙侠</a></h2>
        <h2><a style="display: none;">&nbsp;</a></h2>
        <h2><a style="display: none;">&nbsp;</a></h2>
        <h2><a style="display: none;">&nbsp;</a></h2>
    </div>
    <div class="slide">
        <div class="slide-con4">
            <div class="slide-item index_sort1"> <a href="/book/180500/">
                    <p><span class="sort">[武侠仙侠]</span><span class="title">神级升级系统 /<small>铁钟</small></span></p>
                </a> <a href="/book/240724/">
                    <p><span class="sort">[武侠仙侠]</span><span class="title">仙帝重生混都市 /<small>己吾</small></span></p>
                </a> <a href="/book/185515/">
                    <p><span class="sort">[武侠仙侠]</span><span class="title">重生之都市修真者 /<small>小苏君</small></span></p>
                </a> <a href="/book/220351/">
                    <p><span class="sort">[武侠仙侠]</span><span class="title">都市之无敌修神 /<small>情梅独钟</small></span></p>
                </a> <a href="/book/202717/">
                    <p><span class="sort">[武侠仙侠]</span><span class="title">重生之都市修真 /<small>致尊宝</small></span></p>
                </a> <a href="/book/12385/">
                    <p><span class="sort">[武侠仙侠]</span><span class="title">一念永恒 /<small>耳根</small></span></p>
                </a> </div>
        </div>
    </div>
</div>
<div class="tabArea tabArea4 bannerLink div">
    <div class="tab-nav tab-nav4 clearfix">
        <h2 id="H2_2"><a class="tab-nav-cur">都市言情</a></h2>
        <h2><a style="display: none;">&nbsp;</a></h2>
        <h2><a style="display: none;">&nbsp;</a></h2>
        <h2><a style="display: none;">&nbsp;</a></h2>
    </div>
    <div class="slide">
        <div class="slide-con4">
            <div class="slide-item index_sort1"> <a href="/book/169710/">
                    <p><span class="sort">[都市言情]</span><span class="title">盛世宠婚：帝少的心尖萌妻 /<small>书染染</small></span></p>
                </a> <a href="/book/170201/">
                    <p><span class="sort">[都市言情]</span><span class="title">废柴逆天召唤师 /<small>慕艾艾</small></span></p>
                </a> <a href="/book/237551/">
                    <p><span class="sort">[都市言情]</span><span class="title">我和傲娇空姐的荒岛生活 /<small>没穿秋裤</small></span></p>
                </a> <a href="/book/150044/">
                    <p><span class="sort">[都市言情]</span><span class="title">超级兵王的美女军团 /<small>奥巴牛总统</small></span></p>
                </a> <a href="/book/152966/">
                    <p><span class="sort">[都市言情]</span><span class="title">校花的透视兵王 /<small>刀锋易冷</small></span></p>
                </a> <a href="/book/760/">
                    <p><span class="sort">[都市言情]</span><span class="title">都市大神戒 /<small>不是蚊子</small></span></p>
                </a> </div>
        </div>
    </div>
</div>
<div class="tabArea tabArea4 bannerLink div">
    <div class="tab-nav tab-nav4 clearfix">
        <h2 id="H2_3"><a class="tab-nav-cur">历史军事</a></h2>
        <h2><a style="display: none;">&nbsp;</a></h2>
        <h2><a style="display: none;">&nbsp;</a></h2>
        <h2><a style="display: none;">&nbsp;</a></h2>
    </div>
    <div class="slide">
        <div class="slide-con4">
            <div class="slide-item index_sort1"> <a href="/book/185059/">
                    <p><span class="sort">[历史军事]</span><span class="title">春闺秘录：厂公太撩人 /<small>平白兄</small></span></p>
                </a> <a href="/book/185179/">
                    <p><span class="sort">[历史军事]</span><span class="title">锦绣凰途：毒医太子妃 /<small>真爱小未凉</small></span></p>
                </a> <a href="/book/194756/">
                    <p><span class="sort">[历史军事]</span><span class="title">神医悍妃：杠上腹黑邪王 /<small>阿楚</small></span></p>
                </a> <a href="/book/222971/">
                    <p><span class="sort">[历史军事]</span><span class="title">鬼医毒妃：嫁个绝色小相公 /<small>拓拔言倾</small></span></p>
                </a> <a href="/book/215652/">
                    <p><span class="sort">[历史军事]</span><span class="title">锦上娇 /<small>青黛</small></span></p>
                </a> <a href="/book/68475/">
                    <p><span class="sort">[历史军事]</span><span class="title">绝世神偷：废柴七小姐 /<small>夜北</small></span></p>
                </a> </div>
        </div>
    </div>
</div>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>