<div class="page">
    <%  if(pagination.prevPage){ %>
    <a href="<%= pagination.prevPage %>">上一页</a>
    <% } else{ %>
    <a class="disabled" href="javascript:void(0);">上一页</a>
    <% } %>
    <select class="pageSelecter" onchange="self.location.href=options[selectedIndex].value">
        <% var i = 1; while(i<=pagination.totalPage){ %>
        <option <%=pagination.currentPage==i?'selected':'' %> value="
            <%= pagination.href + '/' + i %>">第
            <%= i %>页</option>
        <% i++ } %>
    </select>
    <%  if(pagination.nextPage){ %>
    <a href="<%= pagination.nextPage %>">下一页</a>
    <% } else{ %>
    <a class="disabled" href="javascript:void(0);">下一页</a>
    <% } %>
</div>