<%- include('common/top', {}); %>
<%- include('common/mainHeader', {}); %>
<div class="container">
    <ul class="child-nav">
        <% branchInfo.rankMap.forEach(function(rank){ %>
        <li><a href="/paihang/<%= rank[1]%>/1" title="<%= rank[0]%>">
                <%= rank[0]%></a></li>
        <% }); %>
    </ul>
    <div class="row ">
        <div class="col-md-12 border book-list-box" style="margin-top: 0;">
            <h2 class="book-list-title">
                <%= pageTitle%>小说列表</h2>
            <ul class="book-list">
                <li class="book-item-5 row">
                    <div class="col-xs-2 col-md-1">
                        <span>类型</span>
                    </div>
                    <div class="col-xs-5 col-md-2">
                        <span>小说名称</span>
                    </div>
                    <div class="col-xs-5 col-md-2">
                        <span>作者</span>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span>最新章节</span>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <span>最近更新时间</span>
                    </div>
                    <div class="col-xs-6 col-md-1 text-center">
                        <span>状态</span>
                    </div>
                </li>
                <% books.forEach(function(book){ %>
                <li class="book-item-5 row">
                    <div class="col-xs-3 col-md-1">
                        <span>[
                            <%= book.categoryName%>]</span>
                    </div>
                    <div class="col-xs-5 col-md-2">
                        <span>
                            <a href="/book/<%= book.bookId%>">
                                <%= book.title%></a>
                        </span>
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <span>
                            <%= book.writer%></span>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <% if(book.lastChapter){%>
                        <span><a href="/book/<%= book.bookId%>/<%= book.lastChapter.number%>">
                                <%= book.lastChapter.title%></a></span>
                        <% } %>
                    </div>
                    <div class="col-xs-8 col-md-2">
                        <span>
                            <%= book.lastUpdatedAt%></span>
                    </div>
                    <div class="col-xs-4 col-md-1  text-center">
                        <span>
                            <%= book.publishStatus == 1?'连载中':'已完结'%></span>
                    </div>
                </li>
                <% }); %>
            </ul>
            <div class="pagination-box text-center">
                <ul class="pagination">
                    <% if(pagination.currentPage > 1){%>
                    <li title="上一页"><a href="/paihang/<%= currentRankId%>/<%= pagination.currentPage-1%>">
                            <</a> </li> <% }%>
                    <li class="hd"><span>
                            <%= pagination.currentPage%>/
                            <%= pagination.totalPage%></span></li>
                    <% if(pagination.currentPage < pagination.totalPage){%>
                    <li title="下一页"><a href="/paihang/<%= currentRankId%>/<%= pagination.currentPage+1%>">></a></li>
                    <% }%>
                    <li>
                        <div class="go-page">
                            <input type="number" class="go-page-input" id="go-page-input" min="1" max="<%= pagination.totalPage%>" placeholder="页数" onkeydown="if(event.keyCode==13){goPage(); return false;}">
                            <button type="button" class="go-page-btn" onclick="goPage()">跳转</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var currentPage = <%= pagination.currentPage%>;
var totalPage = <%= pagination.totalPage%>;
</script>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>