<%- include('common/top', {}); %>
<%- include('common/mainHeader', {}); %>
<div class="container">
    <div class="row ">
        <div class="col-md-9 padding-0 row">
            <div class="col-xs-12 book-box">
                <div class="border book-list-box">
                    <h2 class="book-list-header">现在位置：<a href="/">首页</a> &raquo; <a href="/paihang/">女神情报</a>&raquo; <a href="/paihang/<%= rank.rankId %>">
                            <%= rank.name %></a></h2>
                    <div class="book-list-remark">
                        <%= rank.name %>第
                        <%= (pagination.currentPage-1)*pagination.pageSize+1 %>～
                        <%= pagination.currentPage*pagination.pageSize %>位
                    </div>
                    <div class="book-list">
                        <div class="row">
                            <% models.forEach(function(model,index){ %>
                            <div class="col-sm-6 col-xs-12">
                                <a class="model-item-4 model-item-7" href="/model/<%= model.modelId%>" target="_blank">
                                    <div class="model-cover"><img src="<%= branchInfo.pictureUrl+model.cover%>" alt="<%= model.name%>"></div>
                                    <div class="model-info">
                                        <div class="model-name">
                                            <span style="font-size: 30px;color: #c00;">
                                                <%= (pagination.currentPage-1)*pagination.pageSize+1+index%>.</span>
                                            <%= model.name %>
                                        </div>
                                        <% if(model.nickname){ %>
                                        <div class="model-other">
                                            别名：
                                            <%= model.nickname %>
                                        </div>
                                        <% } %>
                                        <% if(model.birthyear){ %>
                                        <div class="model-other">
                                            年龄：
                                            <%= (moment().year()-model.birthyear)+"岁" %>
                                        </div>
                                        <% } %>
                                        <% if(model.bustline && model.waistline && model.hipline){ %>
                                        <div class="model-other">
                                            三围：
                                            <span>
                                                <%= "B"+model.bustline + (model.cup?"("+model.cup+")":"") +" W"+model.waistline+" H"+model.hipline%></span>
                                        </div>
                                        <% } %>
                                        <% if(model.job){ %>
                                        <div class="model-other">
                                            职业：
                                            <%= model.job %>
                                        </div>
                                        <% } %>
                                    </div>
                                </a>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                    <nav aria-label="Page navigation" class="pagination-box">
                        <ul class="pagination">
                            <% if(pagination.currentPage>1){%>
                            <li>
                                <a href="/paihang/<%= rank.rankId %>/<%= pagination.currentPage-1%>/" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% } %>
                            <% pagination.pages.forEach(function(page){ %>
                            <li class=<%=page==pagination.currentPage?"active":""%>><a href="/paihang/<%= rank.rankId %>/<%= page%>/">
                                    <%= page%></a></li>
                            <% }); %>
                            <% if(pagination.currentPage<pagination.totalPage){%>
                            <li>
                                <a href="/paihang/<%= rank.rankId %>/<%= pagination.currentPage+1%>/" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <% } %>
                            <% if(pagination.pages[pagination.pages.length-1]<pagination.totalPage){%>
                            <li><a href="/paihang/<%= rank.rankId %>/<%= pagination.totalPage%>/">...
                                    <%= pagination.totalPage%></a></li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-3 home-right-box">
            <div class="border book-list-box">
                <h2 class="book-list-header">热门标签</h2>
                <div class="book-list">
                    <% ranks.forEach(function(rank){ %>
                    <a class="article-item" href="/paihang/<%= rank.rankId %>/" title="<%= rank.name%>" style="line-height: 40px;">
                        <div class="article-title">
                            <%= rank.name%>
                        </div>
                    </a>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var currentPage = <%= pagination.currentPage%>;
var totalPage = <%= pagination.totalPage%>;
</script>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>