<%- include('common/top', {}); %>
<%- include('common/mainHeader', {}); %>
<div class="container">
    <div class="row ">
        <% categoryMap.forEach(function(category){ if(!category[3]) return true; %>
        <div class="col-md-12 border book-list-box">
            <h2 class="book-list-title">
                <%= category[0]%>列表</h2>
            <ul class="book-list row">
                <% category[4] && category[4].length && category[4].forEach(function(book){ %>
                <li class="book-item-7 col-xs-6 col-md-4 col-lg-2">
                    <span>
                        <a href="/book/<%= book.i%>">
                            <%= book.n%></a>
                    </span>
                </li>
                <% }); %>
            </ul>
        </div>
        <% }); %>
    </div>
</div>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>