<%- include('common/top', {}); %>
<%- include('common/mainHeader', {}); %>
<div class="container">
    <div class="row ">
        <div class="col-md-9 padding-0 row">
            <div class="col-xs-12 book-box">
                <div class="border book-list-box">
                    <h2 class="book-list-header">现在位置：<a href="/">首页</a> &raquo; 包含
                        <span style="color: #c53727">
                            <%= searchContent%></span> 的搜索结果
                    </h2>
                    <h2 class="book-list-title">女神列表</h2>
                    <div class="book-list">
                        <% models.forEach(function(model){ %>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <a class="model-item-1" href="/model/<%= model.modelId%>" target="_blank">
                                <div class="model-cover"><img src="<%= branchInfo.pictureUrl+model.cover%>" alt="<%= model.name%>"></div>
                                <div class="model-name">
                                    <%= model.name%>
                                </div>
                                <div class="model-job">
                                    <%= model.job?model.job:"模特"%>
                                </div>
                            </a>
                        </div>
                        <% }); %>
                    </div>
                    <% if(modelCount>24){ %>
                    <div class="book-list-footer">
                        <a class="btn btn-primary btn-xs btn-more" href="/searchModel?keyword=<%= searchContent%>">更多女神</a>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="col-xs-12 book-box">
                <div class="border book-list-box">
                    <h2 class="book-list-title">图集列表</h2>
                    <div class="book-list">
                        <% pictures.forEach(function(picture){ %>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <a class="gallery-item" href="/gallery/<%= picture.pictureId%>" target="_blank">
                                <div class="gallery-cover"><img src="<%= picture.imgHost+picture.cover%>" alt="<%= picture.title%>"></div>
                                <div class="gallery-title hidden-xs hidden-sm">
                                    <%= picture.title%>
                                </div>
                                <div class="gallery-title-1 hidden-lg hidden-md">
                                    <%= picture.title%>
                                </div>
                            </a>
                        </div>
                        <% }); %>
                    </div>
                    <% if(pictureCount>24){ %>
                    <div class="book-list-footer">
                        <a class="btn btn-primary btn-xs btn-more" href="/searchGallery?keyword=<%= searchContent%>">更多图集</a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-md-3 home-right-box">
            <div class="border book-list-box">
                <h2 class="book-list-header">热门标签</h2>
                <div class="book-list">
                    <% branchInfo.modelTags.forEach(function(tag){ %>
                    <a class="right-box-tag" href="/modelList/<%= tag.tagId%>/1">
                        <%= tag.name%> </a>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>