<%- include('common/top', {}); %>
<%- include('common/mainHeader', {}); %>
<div class="container">
    <div class="row ">
        <div class="col-md-9 padding-0 row">
            <div class="col-xs-12 book-box">
                <div class="border book-list-box">
                    <h2 class="book-list-header">现在位置：<a href="/">首页</a> &raquo; 今日女神</h2>
                    <div class="book-list">
                        <% models.forEach(function(model){ %>
                        <div class="col-md-2 col-sm-3 col-xs-4">
                            <a class="model-item-1" href="/model/<%= model.modelId%>">
                                <div class="model-cover"><img src="<%= branchInfo.pictureUrl+model.cover%>" alt="<%= model.name%>"></div>
                                <div class="model-name">
                                    <%= model.name%>
                                </div>
                                <div class="model-birth">
                                    <%= model.birthyear?(moment().year()-model.birthyear)+"岁生日":""%>
                                </div>
                            </a>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 home-right-box">
            <div class="border book-list-box">
                <h2 class="book-list-header">热门标签</h2>
                <div class="book-list">
                    <% branchInfo.modelTags.forEach(function(tag){ %>
                    <a class="right-box-tag" href="/modelList/<%= tag.tagId%>/1">
                        <%= tag.name%> </a>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>