<%- include('common/top', {}); %>
<link rel="stylesheet" href="/static/src/css/common.css" />
<%- include('common/pageHeader', {}); %>
<div class="">
    <div class="hot_sale">
        <div class="bookimg">
            <img src="<%= book.cover%>">
        </div>
        <div class="bookinfo">
            <p class="author">作者：
                <%= book.writer%>
            </p>
            <p class="author">类别：
                <%= book.categoryName%>
            </p>
            <p class="author">状态：
                <%= book.publishStatus == 1?'连载中':'完成'%>
            </p>
            <p class="author">更新：
                <%= book.lastUpdatedAt%>
            </p>
        </div>
    </div>
    <div class="synopsisArea">
        <a href="/book/<%= book.bookId%>/1">开始阅读</a>
        <a href="/book/<%= book.bookId%>/mulu" class="btn_toBookShelf">完整目录</a>
        <a href="/" class="btn_toMyBook">TXT下载</a>
    </div>
    <% if(book.abstractContent.replace(/\s/g,"")){ %>
    <p class="book_detail_review">
        <%= '简介：'+book.abstractContent%>
    </p>
    <% } %>
</div>
<div class="recommend">
    <div class="tab-nav">
        <a class="tab-nav-cur">最新章节</a>
    </div>
    <div id="chapterlist" class="directoryArea">
        <% lastChapters.forEach(function(chapter){ %>
        <a class="chapter" href="/book/<%= chapter.bookId%>/<%= chapter.number%>">
            <%= chapter.title%></a>
        <% }); %>
    </div>
    <!-- <h2 class="block-nav"><a href="/book/<%= book.bookId%>/mulu">查看完整目录</a></h2> -->
</div>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>