<%- include('common/top', {}); %>
<%- include('common/pageHeader', {}); %>
<%- include('common/categoryNav', {}); %>
<%- include('common/searchForm', {}); %>
<div class="recommend">
    <% books.forEach(function(book){ %>
    <a class="common_sale" href="/book/<%= book.bookId%>/">
        <span class="sort">
            <%= '['+book.categoryName+']'%></span>
        <span class="title">
            <%= book.title%></span> /<span class="writer">
            <%= book.writer%></span>
    </a>
    <% }); %>
    <%- include('common/listPagerPopup', {}); %>
</div>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>