<%- include('common/top', {}); %>
<link rel="stylesheet" href="/static/src/css/read.css" />
<%- include('common/pageHeader', {}); %>
<%- include('common/readPager', {}); %>
<%- include('common/readSetter', {}); %>
<div id="chaptercontent" class="Readarea ReadAjax_content">
    <%- chapter.content%>
    <p class="add-book-label"><a href="javascript:BookMark(440509, 116903824);">『加入书签，方便阅读』</a></p>
</div>
<%- include('common/readPager', {}); %>
<%- include('common/footer', {}); %>
<script language="javascript">
getset();
tempBook(440509, 116903824);
</script>
<%- include('common/bottom', {}); %>