<%- include('common/top', {}); %>
<%- include('common/pageHeader', {}); %>
<div class="historyArea">
    <!-- <div class="historyItem">
        <div class="itemNum">1</div>
        <div class="itemContent">
            <div class="title">
                <a href="/book/288866/">一剑独尊</a>
            </div>
            <div class="otherInfo">
                <p>分类：科幻灵异</p>
                <p>作者：xxx</p>
                <p>已读到：<a class="lastReaded" href="/book/288866/64602154.html" target="_blank">第一章:谁敢动我妹!</a></p>
            </div>
        </div>
        <a href="javascript:void(0);" class="itemDel">删除</a>
    </div> -->
</div>
<%- include('common/searchForm', {}); %>
<%- include('common/footer', {}); %>
<script>
function loadbooker() {
    var bookhtml = '';
    var books = lastread.getBook();
    var books = books.reverse();
    if (books.length) {
        bookhtml += '<h2 class="areaTitle"><a href="javascript:void(0);" class="itemDel" onclick="deleteAllBooks()">清空</a></h2>';
        for (var i = 0; i < books.length; i++) {
            if (i <= 100) {
                bookhtml += '<div class="historyItem">' +
                    '<div class="itemNum">' + (i + 1) + '</div>' +
                    '<div class="itemContent">' +
                    '<div class="title">' +
                    '<a href="/book/' + books[i][0] + '/">' + books[i][2] + '</a>' +
                    '</div>' +
                    '<div class="otherInfo">' +
                    '   <p>分类：' + books[i][5] + '</p>' +
                    '<p>作者：' + books[i][4] + '</p>' +
                    '<p>已读到：<a class="lastReaded" href="/book/' + books[i][0] + '/' + books[i][1] + '">' + books[i][3] + '!</a></p>' +
                    '</div>' +
                    '</div>' +
                    '<a href="javascript:void(0);" class="itemDel" onclick="removebook(' + books[i][0] + ')">删除</a>' +
                    '</div>';
            }
        }
    } else {
        bookhtml += '<div style="height:100px;line-height:100px; text-align:center">还木有任何书籍( ˙﹏˙ )</div>';
    }
    $(".historyArea").append(bookhtml);
}

function removebook(k) {
    lastread.remove(k);
    location.reload();
}

function deleteAllBooks(k) {
    lastread.removeAll();
    location.reload();
}
loadbooker();
</script>
<%- include('common/bottom', {}); %>