<%- include('common/top', {}); %>
<%- include('common/mainHeader', {}); %>
<nav class="smallNav">
    <a href="/rank" class="sel">龙虎榜</a>
    <a href="/category">分类</a>
    <a href="/quanben"">全本</a>
    <a href="/history">轨迹 </a> <a href="/bookshelf">书架</a>
</nav>
<%- include('common/searchForm', {}); %>
<div class="tabArea">
    <div class="tab-nav">
        <a class="tab-nav-cur">
            <%= firstBlock.name%></a>
    </div>
    <div class="slide">
        <% firstBlock.books.forEach(function(book){ %>
        <a class="hot_sale" href="/book/<%= book.bookId%>/">
            <div class="bookimg">
                <img src="<%= book.cover%>">
            </div>
            <div class="bookinfo">
                <p class="title">
                    <%= book.title%>
                </p>
                <p class="author">作者：
                    <%= book.writer%>
                </p>
                <p class="review">
                    <%= book.abstractContent?'简介：'+book.abstractContent.replace(/\\n/g, '').replace(/\s+/g, ''):''%>
                </p>
            </div>
        </a>
        <% }); %>
    </div>
</div>
<% otherBlocks.forEach(function(block){ %>
<div class="tabArea bannerLink">
    <div class="tab-nav">
        <a class="tab-nav-cur">
                <%= block.name%></a>
    </div>
    <div class="slide">
        <% block.books.forEach(function(book){ %>
        <a class="common_sale" href="/book/<%= book.bookId%>/">
            <!-- <span class="sort">
                <%= '['+book.categoryName+']'%></span> -->
            <span class="title"><%= book.title%></span><span class="writer">（<%= book.writer%>）</span>
        </a>
        <% }); %>
    </div>
</div>
<% }); %>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>