<%- include('common/top', {}); %>
<%- include('common/pageHeader', {}); %>
<%- include('common/searchForm', {}); %>
<% ranks.forEach(function(rank){ %>
<div class="tabArea rankArea">
    <div class="tab-nav">
        <h2><a class="tab-nav-cur">
                <%= rank.name%></a></h2>
    </div>
    <div class="slide">
        <% rank.books.forEach(function(book,index){ %>
        <a class="common_sale" href="/book/<%= book.bookId%>/">
            <!-- <span class="sort">
                <%= '['+book.categoryName+']'%></span> -->
            <span class="num <%= index<3?'top':''%>">
                <%= index+1%></span>
            <span class="title">
                <%= book.title%></span><span class="writer">
                <%= book.writer%></span>
        </a>
        <% }); %>
    </div>
</div>
<% }); %>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>