<%- include('common/top', {}); %>
<%- include('common/pageHeader', {}); %>
<div class="searchArea">
    <h2 class="areaTitle">搜索<font color="red">
            <%= keyword%>
        </font>结果</h2>
    <% books.forEach(function(book, i){ %>
    <a class="common_sale" href="/book/
            <%= book.bookId%>/">
        <span class="title">
            <%= book.title%></span>（<span class="writer">
            <%= book.writer%></span>）
    </a>
    <% }); %>
</div>
<% if(errorMsg){ %>
<h2 class="errorMsg">
    <%= errorMsg %>
</h2>
<% } %>
<%- include('common/listPagerPopup', {}); %>
<%- include('common/searchForm', {}); %>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>