<%- include('common/top', {}); %>
<link rel="stylesheet" type="text/css" href="/static/src/css/common.css" />
<%- include('common/pageHeader', {}); %>
<%- include('common/searchForm', {}); %>
<div class="historyArea">
    <% books.forEach(function(book, i){ %>
    <div class="historyItem">
        <span class="num">
            <%= i+1 %></span>
        <div class="info">
            <div class="title">
                <a href="/book/<%= book.bookId%>/">
                    <%= book.title %></a>
            </div>
            <div class="otherInfo">
                <p>
                    <%= book.categoryName %> &nbsp;|&nbsp; 作者:
                    <%= book.writer %> &nbsp;|&nbsp;
                    <%= book.publishStatus == 1?'连载':'完成'%>
                </p>
                <p>
                    最近更新：<a href="/book/<%= book.bookId%>/<%= book.chapterCount%>" target="_blank">第一章:谁敢动我妹!</a></p>
            </div>
        </div>
    </div>
    <% }); %>
</div>
<% if(errorMsg){ %>
<h2 class="errorMsg">
    <%= errorMsg %>
</h2>
<% } %>
<%- include('common/listPagerPopup', {}); %>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>