<%- include('common/bookTop', {}); %>
<%- include('common/pageHeader', {}); %>
<div class="">
    <div class="hot_sale">
        <div class="bookimg">
            <img src="<%= branchInfo.includeBranches[book.branchId].coverUrl+book.cover%>">
        </div>
        <div class="bookinfo">
            <p class="title">
                <%= book.title%>
            </p>
            <p class="author">作者：
                <%= book.writer%>
            </p>
            <p class="author">类别：
                <%= book.categoryName%>
            </p>
            <p class="author">状态：
                <%= book.publishStatus == 1?'连载中':'完成'%>
            </p>
            <p class="author">更新：
                <%= book.lastUpdatedAt%>
            </p>
        </div>
    </div>
    <div class="synopsisArea">
        <a href="/book/<%= book.bookId%>/1">开始阅读</a>
        <a href="/book/<%= book.bookId%>/mulu" class="btn_toBookShelf">完整目录</a>
        <a href="/bookshelf" class="btn_toMyBook">我的书架</a>
    </div>
    <% if(abstractContent){ %>
    <p class="book_detail_review">
        <%= '简介：'+abstractContent%>
    </p>
    <% } %>
</div>
<div class="recommend">
    <div class="tab-nav">
        <a class="tab-nav-cur">最新章节</a>
    </div>
    <div id="chapterlist" class="directoryArea">
        <% lastChapters.forEach(function(chapter){ %>
        <a class="chapter" href="/book/<%= chapter.bookId%>/<%= chapter.number%>">
            <%= chapter.title%></a>
        <% }); %>
    </div>
    <div class="tab-nav">
        <a href="/book/<%= book.bookId%>/mulu">查看全部章节（共
            <%= allChapters.length%>章）</a>
    </div>
</div>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>