<%- include('common/top', {}); %>
<%- include('common/mainHeader', {}); %>
<div class="container">
    <div class="row ">
        <ol class="col-xs-12 breadcrumb">
            <li>当前位置</li>
            <li><a href="/">首页</a></li>
            <li><a href="/tagList">图片分类</a></li>
            <li><a href="/galleryList/<%= picture.tags[0].tagId%>/1">
                    <%= picture.tags[0].name%></a></li>
            <li>
                <%= picture.title%>
            </li>
        </ol>
    </div>
</div>
<div class="container-fluid padding-0">
    <div class="row">
        <div class="col-xs-12 col-lg-12 padding-0">
            <div class="book-list-box">
                <div class="book-list padding-0">
                    <h3 class="gallery-detail-title">
                        <%= picture.title%>
                    </h3>
                    <div class="gallery-detail-content">
                        <% pics.forEach(function(pic,index){%>
                        <div class="gallery-detail-img">
                            <img src="<%= branchInfo.pictureUrl1+pic%>">
                        </div>
                        <% }); %>
                    </div>
                </div>
                <nav aria-label="Page navigation" class="pagination-box">
                    <ul class="pagination">
                        <% if(pagination.currentPage>1){%>
                        <li>
                            <a href="/gallery/<%= picture.pictureId%>/<%= pagination.currentPage-1%>/" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <% } %>
                        <% pagination.pages.forEach(function(page){ %>
                        <li class=<%=page==pagination.currentPage?"active":""%>><a href="/gallery/<%= picture.pictureId%>/<%= page%>/">
                                <%= page%></a></li>
                        <% }); %>
                        <% if(pagination.currentPage<pagination.totalPage){%>
                        <li>
                            <a href="/gallery/<%= picture.pictureId%>/<%= pagination.currentPage+1%>/" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<% if(recommendTagPictures && recommendTagPictures.length){%>
<div class="container">
    <div class="row ">
        <div class="col-md-12 col-xs-12 book-box">
            <div class="border book-list-box">
                <h2 class="book-list-title">
                    <%= picture.tags[0].name%>相关图集推荐</h2>
                <div class="book-list">
                    <% recommendTagPictures.forEach(function(picture){ %>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <a class="gallery-item" href="/gallery/<%= picture.pictureId%>" target="_blank" title="<%= picture.title%>">
                            <div class="gallery-cover"><img src="<%= branchInfo.pictureUrl+picture.cover%>" alt="<%= picture.title%>"></div>
                            <div class="gallery-title-1">
                                <%= picture.title%>
                            </div>
                        </a>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>
<% if(recommendPictures && recommendPictures.length){%>
<div class="container">
    <div class="row ">
        <div class="col-md-12 col-xs-12 book-box">
            <div class="border book-list-box">
                <h2 class="book-list-title">热门图集推荐</h2>
                <div class="book-list">
                    <% recommendPictures.forEach(function(picture){ %>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <a class="gallery-item" href="/gallery/<%= picture.pictureId%>" target="_blank" title="<%= picture.title%>">
                            <div class="gallery-cover"><img src="<%= branchInfo.pictureUrl+picture.cover%>" alt="<%= picture.title%>"></div>
                            <div class="gallery-title-1">
                                <%= picture.title%>
                            </div>
                        </a>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>
<script type="text/javascript">
$("window").on("load", function() {
    var imgs = $(".gallery-detail-img img");
    for (var i = 0; i < imgs.length; i++) {
        var img = imgs[i];
        console.log(img.naturalWidth, img.naturalHeight);
    }
    console.log(this);
    console.log($(this).parent());
})
</script>