<%- include('common/top', {}); %>
<%- include('common/pageHeader', {}); %>
<div class="recommend">
    <div id="chapterlist" class="directoryArea">
        <% chapters.forEach(function(chapter){ %>
        <p><a class="chapter" href="/book/<%= chapter.bookId%>/<%= chapter.number%>">
                <%= chapter.title%></a></p>
        <% }); %>
    </div>
    <div class="page">
        <%  if(pagination.currentPage > 1){ %>
        <a class="page-btn" href="/book/<%= book.bookId%>/mulu/<%= pagination.currentPage-1%>">
            <</a> <% } %>
                <span>
                    <%= pagination.currentPage%> /
                    <%= pagination.totalPage%></span>
                <% if(pagination.currentPage < pagination.totalPage){ %>
                <a class="page-btn" href="/book/<%= book.bookId%>/mulu/<%= pagination.currentPage+1%>">></a>
                <% } %>
                <input type="number" class="go-page-input" id="go-page-input" min="1" max="<%= pagination.totalPage%>" placeholder="页数" onkeydown="if(event.keyCode==13){goPage(); return false;}">
                <button type="button" class="go-page-btn" onclick="goPage()">跳转</button>
    </div>
</div>
<script type="text/javascript">
var currentPage = <%= pagination.currentPage%>;
var totalPage = <%= pagination.totalPage%>;
</script>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>