<%- include('common/bookTop', {}); %>
<%- include('common/mainHeader', {}); %>
<div class="container">
    <div class="row">
        <ol class="col-xs-12 breadcrumb">
            <!-- <li><a href="/">
                    <%= branchInfo.shorttitle%></a></li> -->
            <li><a href="/category/<%= book.categoryId%>/1">
                    <%= book.categoryName%></a></li>
            <li class="active">
                <%= book.title%>
            </li>
        </ol>
        <div class="col-xs-12 border book-list-box" style="margin-top: 0">
            <div class="book-list" style="padding-top: 15px;">
                <div class="book-item-6 row">
                    <div class="book-image col-md-2 col-xs-4">
                        <img onerror="src='/static/src/images/noimg.jpg'" src="<%= book.cover%>" alt="<%= book.title%>">
                    </div>
                    <dl class="col-md-10 col-xs-8" style="padding-right: 0;">
                        <dt>
                            <h2 class="book-title">
                                <%= book.title%>
                            </h2>
                        </dt>
                        <dd>
                            作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;者：
                            <span class="book-author">
                                <%= book.writer%> </span>
                        </dd>
                        <dd>
                            类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：
                            <span class="book-author">
                                <%= book.categoryName%> </span>
                        </dd>
                        <dd>
                            最后更新：
                            <span class="book-author">
                                <%= book.lastUpdatedAt.split(" ")[0]%> </span>
                        </dd>
                        <dd>
                            <% if(book.lastChapter){%>
                            最新章节：
                            <span class="book-new-chapter"><a href="/book/<%= book.bookId%>/<%= book.lastChapter.number%>">
                                    <%= book.lastChapter.title%></a></span>
                            <% } %>
                        </dd>
                        <dd class="hidden-xs hidden-sm">
                            操&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作：
                            <span class="book-operate-box">
                                <a href="/book/<%= book.bookId%>/1">开始阅读</a>
                                <a href="/book/<%= book.bookId%>/mulu" class="btn_toBookShelf">完整目录</a>
                                <a href="/bookshelf" class="btn_toMyBook">我的书架</a>
                            </span>
                        </dd>
                        <dd class="book-abstract hidden-xs hidden-sm">
                            <span>
                                <%= book.abstractContent?book.abstractContent.replace(/\\n/g, '').replace(/\s+/g, ''):''%></span>
                        </dd>
                    </dl>
                    <div class="col-xs-12 hidden-mg hidden-lg padding-0">
                        <div class="book-operate-box text-center">
                            <a href="/book/<%= book.bookId%>/1">开始阅读</a>
                            <a href="/book/<%= book.bookId%>/mulu" class="btn_toBookShelf">完整目录</a>
                            <a href="/bookshelf" class="btn_toMyBook">我的书架</a>
                        </div>
                        <div class="book-abstract">
                            <%= book.abstractContent?book.abstractContent.replace(/\\n/g, '').replace(/\s+/g, ''):''%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 border book-list-box">
            <h2 class="book-list-title">最新章节列表</h2>
            <ul class="book-list row">
                <% lastChapters.forEach(function(chapter){ %>
                <li class="book-item-5 col-xs-12 col-sm-6 col-md-4">
                    <span class="book-new-chapter"><a href="/book/<%= book.bookId%>/<%= chapter.number%>">
                            <%= chapter.title%></a></span>
                </li>
                <% }); %>
            </ul>
        </div>
        <div class="col-xs-12 border book-list-box">
            <h2 class="book-list-title">全部章节列表（共
                <%= allChapters.length%>章）</h2>
            <ul class="book-list">
                <% allChapters.forEach(function(chapter){ %>
                <li class="book-item-5 col-xs-12 col-sm-6 col-md-4">
                    <span class="book-new-chapter"><a href="/book/<%= book.bookId%>/<%= chapter.number%>">
                            <%= chapter.title%></a></span>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>