<%- include('common/top', {}); %>
<%- include('common/mainHeader', {}); %>
<div class="container">
    <div class="row ">
        <div class="col-md-12 border book-list-box">
            <h2 class="book-list-title">我的书架<a href="javascript:void(0);" class="itemDel pull-right" onclick="deleteAllBookMarks()">清空</a></h2>
            <ul class="book-list">
                <%  if(!bookMarks.length){ %>
                <div style="height:100px;line-height:100px; text-align:center">还木有任何书籍( ˙﹏˙ )</div>
                <% }else{ %>
                <% bookMarks.forEach(function(bookMark){ %>
                <li class="book-item-5 row">
                    <div class="col-xs-3 col-md-1">
                        <span>[
                            <%= bookMark.book.categoryName%>]</span>
                    </div>
                    <div class="col-xs-5 col-md-2">
                        <span>
                            <a href="/book/<%= bookMark.book.bookId%>">
                                <%= bookMark.book.title%></a>
                        </span>
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <span>
                            <%= bookMark.book.writer%></span>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        已读到：<a class="lastReaded" href="/book/<%= bookMark.bookId%>/<%= bookMark.chapter.number%>">
                            <%= bookMark.chapter.title%></a>
                    </div>
                    <div class="col-xs-8 col-md-2">
                        <span>最近更新：
                            <%= bookMark.book.lastUpdatedAt%></span>
                    </div>
                    <div class="col-xs-4 col-md-1  text-center">
                        <a href="javascript:void(0);" class="itemDel pull-right" onclick="deleteBookMark(<%= bookMark.id%>)">删除</a>
                        <!-- <span>
                            <%= bookMark.book.publishStatus == 1?'连载中':'已完结'%></span> -->
                    </div>
                </li>
                <% })} %>
            </ul>
        </div>
    </div>
</div>
<%- include('common/footer', {}); %>
<script language="javascript" type="text/javascript">
function deleteBookMark(id) {
    ajaxDo.get("/deleteBookMark", { id: id }, function(data) {
        location.reload();
    }, function(err) {
        if (err.rtnCode == 10004) {
            location.href = "/login?o=" + location.pathname;
        } else if (err.rtnMsg) {
            alert(err.rtnMsg);
        }
    })
}

function deleteAllBookMarks(id) {
    ajaxDo.get("/deleteAllBookMark", {}, function(data) {
        location.reload();
    }, function(err) {
        if (err.rtnCode == 10004) {
            location.href = "/login?o=" + location.pathname;
        } else if (err.rtnMsg) {
            alert(err.rtnMsg);
        }
    })
}
</script>
<%- include('common/bottom', {}); %>