<%- include('common/top', {}); %>
<%- include('common/mainHeader', {}); %>
<div class="container">
    <div class="row ">
        <div class="col-md-12 border book-list-box" style="padding: 5px;">
            <div class="row">
                <% currentBlock.recommendBooks.forEach(function(book){ %>
                <div class="col-xs-12 col-sm-4 book-item-1">
                    <div class="book-image">
                        <a href="/book/<%= book.bookId%>">
                            <img onerror="src='/images/nopic.gif'" src="<%= book.cover%>" alt="<%= book.title%>"></a>
                    </div>
                    <dl>
                        <dt>
                            <span class="book-author">
                                <%= book.writer%> </span>
                            <a class="book-title" href="/book/<%= book.bookId%>">
                                <%= book.title%> </a>
                        </dt>
                        <dd class="book-abstract">
                            <a href="/book/<%= book.bookId%>">
                                <%= book.abstractContent?book.abstractContent.replace(/\\n/g, '').replace(/\s+/g, ''):''%></a>
                        </dd>
                    </dl>
                </div>
                <% }); %>
            </div>
        </div>
        <div class="col-md-9 border book-list-box home-banner-box">
            <h2 class="book-list-title">
                <%= pageTitle%>最近更新小说列表</h2>
            <ul class="book-list">
                <% books.forEach(function(book){ %>
                <li class="book-item-5 row">
                    <div class="col-xs-9 col-md-4">
                        <span class="book-category">[
                            <%= book.categoryName%>]</span>
                        <span class="book-title">
                            <a href="/book/<%= book.bookId%>">
                                <%= book.title%></a>
                        </span>
                    </div>
                    <div class="col-md-5 hidden-xs hidden-sm">
                        <% if(book.lastChapter){%>
                        <span class="book-new-chapter"><a href="/book/<%= book.bookId%>/<%= book.lastChapter.number%>">
                                <%= book.lastChapter.title%></a></span>
                        <% } %>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <span class="book-updated hidden-xs hidden-sm">
                            <%= book.lastUpdatedAt.split(" ")[0]%></span>
                        <span class="book-author text-right">
                            <%= book.writer%></span>
                    </div>
                </li>
                <% }); %>
            </ul>
        </div>
        <div class="col-md-3 border book-list-box">
            <h2 class="book-list-title">
                <%= pageTitle%>最新入库小说</h2>
            <ul class="book-list">
                <% currentBlock.rankBooks.forEach(function(book){ %>
                <li class="book-item-2">
                    <span class="book-category">[
                        <%= book.categoryName%>]</span>
                    <span class="book-author">
                        <%= book.writer%></span>
                    <span class="book-title"><a href="/book/<%= book.bookId%>">
                            <%= book.title%></a></span>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>