<%- include('common/top', {}); %>
<%- include('common/mainHeader', {}); %>
<div class="container">
    <div class="row ">
        <div class="col-md-12 border book-list-box">
            <h2 class="book-list-title">阅读记录（最近100条）<a href="javascript:void(0);" class="itemDel pull-right" onclick="deleteAllBooks()">清空</a></h2>
            <ul class="book-list">
                <!-- <li class="book-item-5 row">
                    <div class="col-xs-2 col-md-1">
                        <span>序号</span>
                    </div>
                    <div class="col-xs-5 col-md-2">
                        <span>小说名称</span>
                    </div>
                    <div class="col-xs-5 col-md-2">
                        <span>小说作者</span>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span>上次阅读章节</span>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <span>上次阅读时间</span>
                    </div>
                    <div class="col-xs-6 col-md-1 text-right">
                        <span>操作</span>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</div>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>
<script>
function loadbooker() {
    var bookhtml = '';
    var books = lastread.getBook();
    var books = books.reverse();
    if (books.length) {
        bookhtml += '<li class="book-item-5 row">' +
            '<div class="col-xs-2 col-md-1">' +
            '<span>序号</span>' +
            '</div>' +
            '<div class="col-xs-5 col-md-2">' +
            '<span>小说名称</span>' +
            '</div>' +
            '<div class="col-xs-5 col-md-2">' +
            '<span>小说作者</span>' +
            '</div>' +
            '<div class="col-xs-12 col-md-4">' +
            '<span>上次阅读章节</span>' +
            '</div>' +
            '<div class="col-xs-6 col-md-2">' +
            '<span>上次阅读时间</span>' +
            '</div>' +
            '<div class="col-xs-6 col-md-1 text-right">' +
            '<span>操作</span>' +
            '</div>' +
            '</li>';
        for (var i = 0; i < books.length; i++) {
            if (i <= 100) {
                bookhtml += '<li class="book-item-5 row">' +
                    '<div class="col-xs-2 col-md-1">' +
                    '<span>' + (i + 1) + '</span>' +
                    '</div>' +
                    '<div class="col-xs-5 col-md-2">' +
                    '<span>' +
                    '<a href="/book/' + books[i][0] + '/">' + books[i][2] + '</a>' + '</span>' +
                    '</div>' +
                    '<div class="col-xs-5 col-md-2">' +
                    '<span>' + books[i][4] + '</span>' +
                    '</div>' +
                    '<div class="col-xs-12 col-md-4">' +
                    '<span>' + '<a class="lastReaded" href="/book/' + books[i][0] + '/' + books[i][1] + '">' + books[i][3] + '</a>' +
                    '</span>' +
                    '</div>' +
                    '<div class="col-xs-6 col-md-2">' +
                    '<span>' + books[i][6] + '</span>' +
                    '</div>' +
                    '<div class="col-xs-6 col-md-1 text-right">' +
                    '<span>' + '<a href="javascript:void(0);" class="itemDel" onclick="removebook(' + books[i][0] + ')">删除</a>' + '</span>' +
                    '</div>' +
                    '</li>';
            }
        }
    } else {
        bookhtml += '<div style="height:100px;line-height:100px; text-align:center">还木有任何书籍( ˙﹏˙ )</div>';
    }
    $(".book-list").append(bookhtml);
}

function removebook(k) {
    lastread.remove(k);
    location.reload();
}

function deleteAllBooks(k) {
    lastread.removeAll();
    location.reload();
}
loadbooker();
</script>
<%- include('common/bottom', {}); %>